@font-face {
    font-family: 'Verdana Regular';
    src: url('../fonts/Verdana.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    content: ' ';
    visibility: hidden;
}

