header {
	background-color: yellow; /*change background color*/
}

main {
	background: green;
}

.change-text {
	width: 100px;
	color: blue;
	background-color: yellow;
}

.new-div{
	background-color: #black;
	color: yellow;
	border: 1x solid red;
}

footer {
	background: blue;
}